<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="BaGet" value="http://k8s.baget.com/v3/index.json" allowInsecureConnections="true" protocolVersion="3" disableTLSCertificateValidation="true" />
  </packageSources>
  <trustedSigners>
    <!-- 忽略 -->
  </trustedSigners>
  <config>
    <add key="allowInsecurePackageDownloads" value="true" />
    <add key="allowInsecureConnections" value="true" />
  </config>
</configuration>
